extends layout

block content
	h1 Login

	form(action="/login", method="POST")

		table
			tbody
				tr
					td Username
					td 
						input(type="text", name="username", value="#{username}");
					td #{error}
				tr
					td#label Password:
					td 
						input(type="text", name="password")

		input(type="submit", value="Login")

