extends layout

block content
	div.container
		div.masthead
		div.jumbotron
			h1 #{title}
			p.lead #{description}
			
			div.container
				a#signup(class="btn btn-lg btn-primary col-md-3" href="/signup") Sign up
				span.col-md-1
				a#login(class="btn btn-lg btn-primary col-md-3" href="/login") Login


