extends layout

block content
	h1 Welcome to the root page


	div.pad-t8

	div.center
		div.center
			button(class="btn-large wide", data-action="signup")  Sign up
			button(class="btn-large wide", data-action="login") Login
