body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eeeeee;
}

a {
  color: #00a7eF;
  text-decoration: none;

}

a:hover {
	color: #008888;
}

table th {
	width: 200px;
	border: 1px solid black;
}


#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -10px;
	height: 60px;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #222222;
}


.navtopright {
	float:right;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	margin-left: 20px;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 400px;
	background-color: #dddddd;
	margin-bottom: 10px;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 400px;
	background-color: #dddddd;
	margin-bottom: 10px;
}


.btn {
	font-size: 28px;
}